   *{
    margin: 0;
   padding: 0;
}
   
   .cabecalho {
    background-color: rgb(178, 80, 243);
color: #140a0a;
display: flex;
justify-content:space-around;
padding:24px 0;
}

.cabecalho-imagem{
   width: 20%
}
.cabecalho-lista-item{
    display: inline-block;
margin: 0 16px;
font-size: 24px;
}
.padaria-imagem{
   width: 25%;
}
.padaria{
background-image: linear-gradient(rgb(174, 66, 247), #e285ee);
color: rgb(255, 255, 255);
display: flex;
}

.padaria-div-conteudo{
width: 35%;

}
.padaria-titlo{
padding: 24px 0;
}
.padaria{
background-color: #d1adef,#e285ee;
color: white;
display: flex;
justify-content:center ;

}
.padaria{
   background-image: linear-gradient(#d1abfd,#e285ee);
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}